.left{
    clip-path:polygon(0 0, 0% 100%, 100% 100%);
    background-color:hsl(231deg 62% 21%);
}

.right{
    clip-path: polygon(0 0,100% 0, 100% 100%);
    background-color:hsl(231deg 62% 21%);
}

.leftOpen{
    clip-path: polygon(0 0, 0 100%, 0 100%);
}

.rightOpen{
    clip-path: polygon(100% 0, 100% 0, 100% 100%);
}

/* home css */
.collapser {
	animation-name: fadeOutAnimation;
    animation-duration: 1.5s;
    animation-fill-mode:forwards;
}

@keyframes fadeOutAnimation{
    0%{
        opacity: 1;
        transform-style: preserve-3d;
        perspective: 500px;
        /* transform: scale(0.7) translate(-55%, -55%); */
    }
    
    100%{
        opacity: 0;
        transform-style: preserve-3d;
        perspective: 500px;
        z-index: 1;
        transform:translate(-195%, -100%) scale(0.01) rotate(360deg);
    }
}

/* navbar css */
.addBlur{
    backdrop-filter:blur(10px);
}