.left{
    clip-path:polygon(0 0, 0% 100%, 100% 100%);
    background-color:hsl(231deg 62% 21%);
}

.right{
    clip-path: polygon(0 0,100% 0, 100% 100%);
    background-color:hsl(231deg 62% 21%);
}

.leftOpen{
    clip-path: polygon(0 0, 0 100%, 0 100%);
}

.rightOpen{
    clip-path: polygon(100% 0, 100% 0, 100% 100%);
}

/* home css */
.collapser {
	animation-name: fadeOutAnimation;
    animation-duration: 1.5s;
    animation-fill-mode:forwards;
}

@keyframes fadeOutAnimation{
    0%{
        opacity: 1;
        transform-style: preserve-3d;
        perspective: 500px;
    }
    
    100%{
        opacity: 0;
        transform-style: preserve-3d;
        perspective: 500px;
        z-index: 1;
        transform:translate(-195%, -100%) scale(0.01) rotate(360deg);
    }
}

/* navbar css */
.addBlur{
    backdrop-filter:blur(10px);
}

/* textbox css */
@media only screen and (max-width:992px) {
    #h1{
        font-size:7vh !important;
    }
    #h3{
        font-size:4.9vh !important;
    }
    #h5{
        font-size:3.7vh !important;
    }
}

@media only screen and (max-width:480px) {
    #h1{
        font-size:5.5vh !important;
    }
    #h3{
        font-size:4.5vh !important;
    }
    #h5{
        font-size:3.2vh !important;
    }
}