.animateUp{
    animation-name:cube;
    animation-duration:1.4s;
    animation-timing-function:ease-in-out;
    animation-fill-mode:forwards;
}

@keyframes cube {
    0%{
        transform: scale(0.9) translateY(-50px) rotateX(30deg);
    }
    25%{
        transform: scale(0.8) translateY(-100px) rotateX(60deg);
    }
    50%{
        transform: scale(0.7) translateY(-330px) rotateX(90deg);
    }
    100%{
        transform: scale(1.05) translateY(-421px) rotateX(90deg) ;
        transition: ease-in-out transform;
    }
}

.animateDown{
    animation-name:cubeDown;
    animation-duration:1.34s;
    animation-fill-mode:forwards;
}

@keyframes cubeDown {
    0%{
        transform: scale(0.85) rotateX(100deg);
    }
    25%{
        transform: scale(0.75) rotateX(70deg);
    }
    50%{
        transform: scale(0.7) rotateX(30deg);
    }
    100%{
        transform: scale(1) rotateX(0deg);
        transition: ease-in-out transform;
    }
}